// dashboard.jade
extends layout

block content
  #emdash
    #status

    a(href="/") Emdash Home
    h1.dashboard-name= title
    - if (screens.length)
      ul#screens
        - screens.forEach(function(screen){
          li
            h2= screen.title
            iframe(src=screen.url)  
        - })
    - else 
      p No screens configured

  block scripts

    // libs
    script(src='/scripts/lib/json2.js')
    script(src='/scripts/lib/jquery.min.js')
    script(src='/scripts/lib/jquery.tmpl.js')
    script(src='/scripts/lib/spine/spine.js')
    script(src='/scripts/lib/spine/local.js')  

    //dev
    script(src='/scripts/app/assert.js')

    //app
    script(src='/scripts/app/app.js')